option_settings:
  "aws:elasticbeanstalk:application:environment":
      NODE_ENV: production
      APP_NAME: petpetcat
      APP_URL: https://petpetcat.harisenin.com
      PORT: 3333
      CACHE_VIEWS: false
      APP_KEY: 2UI6PcPvB3TJp840NI6OQT4XIXOqSQcN
      DB_CONNECTION: mysql
      DB_HOST: hosting.db.harisenin.com
      DB_PORT: 3306
      DB_USER: hosting
      DB_PASSWORD: 8YVLr3FTZUJadseNeQpU
      DB_DATABASE: petpet
      SESSION_DRIVER: cookie
      HASH_DRIVER: bcrypt
      XENDIT_SECRET_KEY: xnd_development_OomAfOUth+GowsY6LeJOHzLCZtSj84J9kXDn+Rxj/mHW+byhDQVxhg==


