container_commands:
  00_hook_executable:
    command: "sudo chmod +x .platform/hooks/**/*.sh"
    cwd: "/var/app/staging"

option_settings:
  "aws:elasticbeanstalk:application:environment":
      PORT: 3333
      NODE_ENV: development
      APP_URL: https://petpetcat.harisenin.com
      CACHE_VIEWS: false
      APP_KEY: 3uyHyTHR9uXgU8TJc9CB7Ba8G1mZR0wA
      DB_CONNECTION: mysql
      DB_HOST: hosting.db.harisenin.com
      DB_PORT: 3306
      DB_USER: hosting
      DB_PASSWORD: 4xy2bXCEm7Y7YKXN
      DB_DATABASE: petpetcat
      SESSION_DRIVER: cookie
      HASH_DRIVER: bcrypt
